@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
  font-family: 'Poppins', sans-serif!important;
  font: 500 1rem 'Poppins', sans-serif!important;
}

.testShadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.logo-img {
  border-top-left-radius: .25rem; 
  border-bottom-left-radius: .25rem;
  width: 10rem;
}

.borderR {
  border-right: 1px solid rgb(226, 223, 223);
}

.borderB {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.turnBlack {
  color: rgb(99, 98, 98)!important;
  font-size: 13px;
}

.ms-n5 {
  color: black;
}

.ms-n5:hover {
  color: #df3434;
}

.nSign {
  color: #df3434;
  font-size: 20px;
}

.spanBal {
  font-size: 20px;
}

.liButton {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.colourCont {
  background-color: #df3434!important;
}

.checkBgd {
  background-color: #df3434;
  padding-top: 12px;
}

