@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
  font-family: 'Poppins', sans-serif!important;
  font: 500 1rem 'Poppins', sans-serif!important;
}

.logo-img {
  border-top-left-radius: .25rem; 
  border-bottom-left-radius: .25rem;
  width: 10rem;
}

.borderR {
  border-right: 1px solid rgb(226, 223, 223);
}

.borderB {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.liButton {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.turnBlack {
  color: rgb(99, 98, 98)!important;
  font-size: 13px;
}

.checkBgd {
  background-color: #df3434dc;
  padding-top: 12px;
}

.borderRound {
  border-right: 1px solid rgb(226, 223, 223);
  border-left: 1px solid rgb(226, 223, 223);
  border-top: 1px solid rgb(226, 223, 223);
  border-bottom: 1px solid rgb(226, 223, 223);
  padding: 6px;
  border-radius: 5px;
}

.fontCol {
  font-size: 12px;
  color: gray;
}

.giveStyling {
  color: #df3434;
}

.giveStyle {
  color: #39df7e;
}

.turnBell {
  color: black;
  font-size: 20px;
}

.badge {
  position: relative;
  top: -22px;
  left: -25px;
  border: 1px solid black;
  border-radius: 25%;
  color: black!important;
  background-color: white!important;
}

.badge:hover {
  color: white!important;
  background-color: black!important;
}

.avataR {
  font-size: 20px;
}

.previewTitle {
  margin-left: 6rem!important;
  /* font-size: 15px;
  color: gray; */
}

.editLeftTab {
  margin-left: 1.8rem;
}

.editUpload {
  margin-left: 22.15rem;
}

.security {
  font-size: 15px;
  color: gray;
}

.quesCon {
  margin-left: -50px;
  margin-top: 25px;
}