body {
  font-family: 'Open Sans', sans-serif!important;
  font: 500 1rem 'Open Sans', sans-serif!important;
}

.logo-img {
  border-top-left-radius: .25rem; 
  border-bottom-left-radius: .25rem;
  width: 10rem;
}

.form-img {
  border-top-left-radius: .25rem; 
  border-bottom-left-radius: .25rem;
}

button {
  color: black!important;
}

.testShadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
